.resultado{
    width: 25pc;
    height: 20pc;
    border-radius: 0.5pc;
    box-shadow: 3px 0px rgba(0, 0, 0, 0.200),-3px 0px rgba(0, 0, 0, 0.200);
    display: flex;
    flex-direction: column;
    row-gap: 1pc;
}

.botones{
    display: flex;
    flex-direction: column;
    gap: 1pc;
}