body {
    background-color: rgb(240, 205, 217);
    margin: 0px;
}

footer {
    background-color: rgb(240, 205, 217);
    color: black;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    padding: 8px;
}

a {
    color: black;
    text-decoration: none;
    font-style: oblique;
}

.titulo {
    display: flex;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 1750px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 5pc;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 2pc;
    margin-left: 10pc;
    font-size: 20px;
}

.categoria-link {
    position: absolute;
    top: 320px;
    left: 650px;
    text-shadow: 1px 1px 2px black;
}

.novedades-link {
    position: absolute;
    top: 320px;
    left: 1050px;
    text-shadow: 1px 1px 2px black;
}

.buscador-ico {
    border-radius: 50%;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 0px 2px black;
    position: absolute;
    left: 510px;
    top: 215px;
}

.buscador-ico>a>img,
.carrito-ico>a>img {
    position: relative;
    left: 20%;
    top: 17%;
}

.perfil-ico>a>img {
    width: 70px;
    height: 70px;
}

.buscador-bar {
    text-align: left;
    font-size: 20px;
    position: absolute;
    left: 585px;
    top: 220px;
    width: 690px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 2px black;
    border-color: white;
}

.carrito-ico {
    border-radius: 50%;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 0px 2px black;
    position: absolute;
    left: 1300px;
    top: 215px;
}

.perfil-ico {
    border-radius: 50%;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 0px 2px black;
    position: absolute;
    right: 100px;
    top: 215px;
    overflow: hidden;
}

.novedades {
    position: absolute;
    left: 0px;
    top: 25pc;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #31353F;
    color: white;
    font-size: 20px;
}

.display-novedades {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2pc;
}

.categorias {
    position: absolute;
    left: 0px;
    top: 25pc;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #31353F;
    color: white;
    font-size: 20px;
}

.display-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5pc;
}

.fondo-semiopaco {
    background-color: black;
    opacity: 60%;
    color: white;
    height: 400px;
    width: 400px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    opacity: 0;

}

.fondo-semiopaco:hover {
    animation-name: categoria-raton;
    animation-duration: 0.3s;
    animation-fill-mode: both;

}

.fondo-semiopaco>h1 {
    position: relative;
    top: 40%;
}

.buscador {
    position: absolute;
    left: 0px;
    top: 25pc;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 5pc;
    background-color: #31353F;
    color: white;
    font-size: 20px;
}

.display-buscador {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: auto;
    text-align: center;
    gap: 2pc;
}


.carousel-item>a>img {
    width: 500px;
    height: 500px;
}

.imagen-categoria {
    position: relative;
}

.imagen-categoria>a>img {
    width: 500px;
    height: 500px;
}
.imagen-producto>a>img{
    width: 350px;
    height: 350px;
}

.formulario{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left:30%;
    top: 20pc;
    width: 30pc;
    height: 20pc;
    padding: 5pc;
    box-shadow: 2px 2px 2px 2px black;
}
.formulario>form{
    display: flex;
    flex-direction: column;
    gap: 1.5pc;
}
.footer-formulario{
    position: absolute;
    bottom: 0pc;
    left: 35%;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    padding: 8px;
}


@keyframes categoria-raton {
    from {
        opacity: 0%;
    }

    to {
        opacity: 60%;
    }
}